body {
  background: #110000;
}
h2 {
  text-align: center;
  color: #f2f2f2;
  font-weight: bold;
}
.slider {
  width: 80vw;
  height: 85vh;
  margin: 0 auto;
}
.slider img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}